<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".view.home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".view.group.search.GroupSearchActivityTest"
            android:exported="false">
        </activity>
        <activity
            android:name=".view.match.MatchActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.group.NewGroupCompleteActivity"
            android:exported="false" />
        <activity
            android:name=".view.group.NewGroupActivity"
            android:exported="false" />
        <activity
            android:name=".view.login.GoogleTestActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".view.login.NaverTestActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".view.login.KakaoTestActivity"
            android:exported="false">
        </activity>
        <!-- Kakao 로그인 -->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao${kakaoKey}" />
            </intent-filter>
        </activity>
    </application>

</manifest>
