name: Android CI

on:
  # main, dev, feat branch pr 올리면 아래 jobs 수행
  pull_request:
    branches:
      - 'main'
      - 'develop'
      - 'feat/*'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      # timestamp
      - name: Print start time
        run: |
          echo "Workflow started at $(date)"

      # code branch checkout
      - uses: actions/checkout@v3
      - name: set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: gradle

      # secret 생성
      - name: Create secret key
        run: |
          echo REMOTE_SERVER=\"$SERVER_URL\" >> ./local.properties
          echo TEST_KEY=\"$KAKAO_API_KEY\" >> ./local.properties
        shell: bash
        env:
          SERVER_URL: ${{ secrets.SERVER_URL }}
          KAKAO_API_KEY: ${{ secrets.KAKAO_API_KEY }}

        # gradle 캐싱 작업
      - name: Cache Gradle packages
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties', '**/buildSrc/**/*.kt') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build

      # ktlint test
      - name: Run ktlint
        run: ./gradlew ktlintCheck

          - name: Create secret key
          run: |

          shell: bash
          env:

